language: node_js
node_js:
  - 14

services:
  - docker

install: 
  - echo "Start install"
  - echo "No thing need to install"

before_script: 
  - echo "start before_script" 

script:
  - docker --version 
  - docker build -t udagram-reverseproxy ./udagram-reverseproxy
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker build -t udagram-api-user ./udagram-api-user
  - docker build -t udagram-frontend ./udagram-frontend

  - docker tag udagram-reverseproxy 1q2w/udagram-reverseproxy:v1
  - docker tag udagram-api-feed 1q2w/udagram-api-feed:v1
  - docker tag udagram-api-user 1q2w/udagram-api-user:v1
  - docker tag udagram-frontend 1q2w/udagram-frontend:v1

after_success: 
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_PASSWORD" --password-stdin
  - docker push 1q2w/udagram-reverseproxy:v1
  - docker push 1q2w/udagram-api-feed:v1
  - docker push 1q2w/udagram-api-user:v1
  - docker push 1q2w/udagram-frontend:v1
